/* ========================================= USER ======================================= */
.position-work {
    .user {
        .content {
            font-size: 24px;
            line-height: 33px;
        }
        .i-left {
            text-align: center;
        }
        .i-left i {
            font-size: 40px;
            line-height: 40px;
        }
        div {
            margin-bottom: 10px;
            img {
                height: 48px;
                width: 48px;
            }
        }
    }
    
}